Repository bcgov/nr-gwells, pull requests merged in 2024-10, with the labels that each got.

#69 chore(ci): deploy frontend
  .github/workflows/.deploy.yml
  .github/workflows/.tests.yml
  .github/workflows/demo.yml
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
  backend/Dockerfile
  backend/gwells/settings/__init__.py
  backend/gwells/urls.py
  backend/gwells/views/__init__.py
  backend/openshift.deploy.yml
  backend/requirements.txt
  docker-compose.yml
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/openshift.deploy.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/authenticate.js
  frontend/src/common/components/Auth.vue
  frontend/src/common/services/ApiService.js
  frontend/src/main.js
  frontend/src/router.js
  frontend/vue.config.js
Labels: docker, github actions

#81 chore(ci): Update resourcing and add network policies for successful deploy.
  .github/workflows/.deploy.yml
  backend/openshift.deploy.yml
  common/openshift.init.yml
  database/openshift.deploy.yml
  frontend/openshift.deploy.yml
Labels: docker, github actions

#89 chore(ci): minio deployment
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  common/openshift.init.yml
  database/openshift.deploy.yml
  docker-compose.yml
  frontend/openshift.deploy.yml
  minio/Dockerfile
  minio/minio-entrypoint.sh
  minio/openshift.deploy.yml
Labels: docker, github actions

#75 chore(ci): Dockerfile apt-get to apt update
  backend/Dockerfile
  frontend/Dockerfile
Labels: docker

#111 chore(ci): Testing minio secret values.
  common/openshift.init.yml
  minio/openshift.deploy.yml
Labels: github actions

#110 chore(ci): Update database service name.
  .github/workflows/.deploy.yml
  backend/openshift.deploy.yml
  common/openshift.init.yml
Labels: github actions

#120 chore(ci): Minio deploymentConfig to deployment.
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
  minio/openshift.deploy.yml
Labels: github actions

#121 chore(ci): Uncomment workflow deploy code.
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
Labels: github actions

#122 chore(ci): Move Minio deploy job before database deploy job.
  .github/workflows/.deploy.yml
  minio/openshift.deploy.yml
Labels: github actions
