Repository bcgov/nr-gwells, pull requests merged in 2024-09, with the labels that each got.

#50 chore(ci): Update database dockerfile and compose reference.
  database/Dockerfile
  docker-compose.yml
Labels: docker

#47 chore(ci): Add OpenShift deploy template.
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
  frontend/openshift.deploy.yml
Labels: github actions

#57 chore: Revert to original for db related docker compose.
  database/Dockerfile
  docker-compose.yml
Labels: docker

#61 chore(ci): renovate exclusion
  renovate.json
Labels: dependencies

#54 chore(ci): deploy backend
  .github/workflows/.deploy.yml
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  .github/workflows/scheduled.yml
  backend/.dockerignore
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/Dockerfile.old
  backend/Dockerfile.rhel7
  backend/gunicorn.cfg
  backend/gwells/data_migrations.py
  backend/gwells/db_comments/db_actions.py
  backend/gwells/migrations/0001_initial.py
  backend/gwells/migrations/BCGW_ABMS_PROV.zip
  backend/gwells/models/__init__.py
  backend/openshift.backend.yml
  backend/registries/fixtures/regional_areas.zip
  backend/requirements.txt
  backend/wells/management/commands/export.py
  backend/wells/models.py
  backend/wells/signals.py
  backend/wells/tests/test_signals.py
  charts/app/.helmignore
  charts/app/Chart.lock
  charts/app/Chart.yaml
  charts/app/README.md
  charts/app/README.md.gotmpl
  charts/app/templates/_helpers.tpl
  charts/app/templates/backend/templates/_helpers.tpl
  charts/app/templates/backend/templates/deployment.yaml
  charts/app/templates/backend/templates/hpa.yaml
  charts/app/templates/backend/templates/pdb.yaml
  charts/app/templates/backend/templates/service.yaml
  charts/app/templates/frontend/templates/_helpers.tpl
  charts/app/templates/frontend/templates/deployment.yaml
  charts/app/templates/frontend/templates/hpa.yaml
  charts/app/templates/frontend/templates/ingress.yaml
  charts/app/templates/frontend/templates/pdb.yaml
  charts/app/templates/frontend/templates/service.yaml
  charts/app/templates/knp.yaml
  charts/app/templates/secret.yaml
  charts/app/values.yaml
  common/openshift.init.yml
  database/postgresql.dc.yml
  docker-compose.yml
  frontend/openshift.deploy.yml
  gwells/openshift/backend.bc.json
  gwells/openshift/backend.dc.json
  gwells/openshift/ocp4/backend.dc.json
  gwells/openshift/postgresql.dc.yml
  migrations/.dockerignore
  migrations/Dockerfile
  migrations/sql/V1.0.0__init.sql
  migrations/sql/V1.0.1__alter_user_seq.sql
  scripts/gwells-app.sh
Labels: docker, github actions
