Repository bcgov/nr-gwells, pull requests merged in 2024-11, with the labels that each got.

#132 chore(ci): Update PR close workflow
  .github/workflows/pr-close.yml
Labels: github actions

#135 chore(ci): Git remove init from image clean up.
  .github/workflows/pr-close.yml
Labels: github actions

#151 chore(ci): Remove dev prefix to simplify PR cleanup.
  .github/workflows/.deploy.yml
  backend/openshift.deploy.yml
  frontend/openshift.deploy.yml
  minio/openshift.deploy.yml
Labels: github actions

#155 chore(ci): Update merge workflow to deploy to test environment.
  .github/workflows/merge.yml
Labels: github actions

#156 chore(ci): Update name suffix
  .github/workflows/.deploy.yml
  backend/openshift.deploy.yml
  common/openshift.init.yml
  database/openshift.deploy.yml
  frontend/openshift.deploy.yml
  minio/openshift.deploy.yml
Labels: github actions

#159 chore(ci): Update image tag reference.
  .github/workflows/.deploy.yml
Labels: github actions

#160 chore(ci): Uncomment deploy environments.
  .github/workflows/.deploy.yml
Labels: github actions

#161 chore(ci): Update database service name.
  .github/workflows/.deploy.yml
  database/openshift.deploy.yml
Labels: github actions

#107 chore(ci): Make minio pvc pr specific.
  .github/workflows/.deploy.yml
  common/openshift.init.yml
  minio/Dockerfile
  minio/minio-entrypoint.sh
  minio/openshift.deploy.yml
Labels: docker, github actions

#192 chore(ci): update backend working_dir
  docker-compose.yml
Labels: docker

#174 chore(ci): Update minio deployment.
  .github/workflows/.deploy.yml
  common/openshift.init.yml
  minio/Dockerfile
  minio/minio-entrypoint.sh
  minio/openshift.deploy.old.yml
  minio/openshift.deploy.yml
Labels: docker, github actions

#194 chore(ci): Uncomment PR open test and results job.
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
Labels: github actions

#195 chore(ci): Add environment to minio deploy step.
  .github/workflows/.deploy.yml
Labels: github actions

#203 chore(ci): Update minio data directory for docker compose.
  docker-compose.yml
Labels: docker

#176 chore(ci): fix frontend probe
  frontend/openshift.deploy.yml
Labels: github actions

#213 chore(ci): test fixes for running tests in docker
  backend/gwells/tests/test_roles.py
  backend/registries/tests.py
  backend/wells/fixtures/well_detail_fixture.json
  backend/wells/tests/test_signals.py
  backend/wells/tests/test_wells.py
  backend/wells/urls.py
  database/scripts/local_dev/setup.sql
  docker-compose.yml
Labels: docker

#216 chore(ci): Update merge workflow to deploy to prod.
  .github/workflows/merge.yml
Labels: github actions

#221 chore(ci): Update route naming.
  .github/workflows/merge.yml
  backend/openshift.deploy.yml
  docker-compose.yml
  frontend/openshift.deploy.yml
Labels: docker, github actions

#222 chore(ci): uncomment prod deploy
  .github/workflows/analysis.yml
Labels: docker, github actions
