Repository bcgov/nr-gwells, pull requests merged in 2024-08, with the labels that each got.

#2 feat(ci): prepare TEST env
  .github/workflows/merge.yml
  .github/workflows/scheduled.yml
Labels: enhancement

#31 chore: Update docker compose file.
  backend/Dockerfile
  backend/backend-command-script.sh
  docker-compose.yml
Labels: docker

#32 chore: Add Dockerfile for frontend. Update docker compose frontend service.
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Labels: docker

#35 chore: add frontend back to GitHub build step
  .github/workflows/pr-open.yml
Labels: github actions

#38 chore: docker compose volumes
  docker-compose.yml
Labels: docker

#41 chore(ci): Docker Compose updates
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  docker-compose.yml
  e provide a summary of the change and the issue fixed. Please include relevant context. List dependency changes.
Labels: docker, github actions
