Repository bcgov/nr-gwells, pull requests merged in 2025-01, with the labels that each got.

#232 chore(ci): backend docker
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
  .gitignore
  backend/.envrc
  backend/Dockerfile
  backend/gwells/database.py
  backend/gwells/settings/__init__.py
  backend/gwells/urls.py
  backend/gwells/views/__init__.py
  backend/openshift.deploy.yml
  backend/requirements.txt
  backend/startup.sh
  common/openshift.init.yml
  database/openshift.deploy.yml
  docker-compose.yml
  frontend/vue.config.js
Labels: docker, github actions, Environment Variables

#238 chore(ci): actions moved to bcgov org
  .github/workflows/.deploy.yml
  .github/workflows/analysis.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: dependencies, github actions

#240 chore(ci): remove JS handling from workflow conditionals
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
Labels: github actions
